---
description: "Torrevigia es la plataforma ciudadana independiente que vigila, informa y exige transparencia y buen gobierno en Torrenueva Costa."
layout: base.njk
---
{% include "hero.njk" %}

<section id="comunicados">
  <div class="container">
    <div class="section-head">
      <h2>Comunicados</h2>
    </div>

    <div id="listaComunicados">
      {% for comunicado in collections.comunicados | reverse %}
        {% include "comunicado-card.njk" %}
      {% endfor %}
    </div>
  </div>
</section>
